@media print {
    body {
        background: none !important;
        color: #000;
        padding: 0;
        font-size: 12pt;
        line-height: 1.1;
    }

    header {
        background: none;
        box-shadow: none !important;
        border-radius: 0 !important;
        padding: 0;
        max-width: 100%;
        border : none;
    }

    header img {
        display: none;
    }

    button, .form-buttons {
        display: none;
    }

    fieldset {
        border: none;
        padding: 0;
        margin: 0;
    }

    .contact-row {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 20px;
    }

    .left-column,
    .right-column {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .right-column {
        max-width: 300px;
    }

    input, select, textarea {
        border: none;
        background: none;
        font-size: 12pt;
        width: 100%;
        border-radius: 0 !important;
    }

    input[type="radio"] {
        display: none !important;
    }

    hr {
        border: 1px solid #000;
    }

    .signature-container.hidden {
        display: block !important;
    }

    .signature-container {
        border: none;
        box-shadow: none !important;
        background: none;
        padding: 0;
        margin: 0;
        border-radius: 0 !important;
    }

    .signature-header,
    .signature-subheader,
    .signature-subheader p {
        margin: 0;
        padding: 0;
        line-height: 1.1;
        text-align: center;
        font-style: italic;
        color: #000;
    }

    .signature-subheader table {
        width: 100%;
        border-collapse: collapse;
        margin: 0 auto 100px;
        display: block;
    }

    .signature-subheader td {
        padding: 2px 8px;
        border: none;
        text-align: left;
    }

    .signatures {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 100px;
    }

    .signature-box {
        flex: 1;
        border: none;
        background: none;
        height: auto;
        text-align: center;
        padding: 5px 0;
        border-radius: 0 !important;
        box-shadow: none !important;
    }

    .decision-section {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .decision-box {
        flex: 1;
        border: none;
        background: none;
        height: auto;
        text-align: center;
        padding: 5px 0;
        border-radius: 0 !important;
        box-shadow: none !important;
    }

    header h1 {
        font-size: 18pt;
        margin-bottom: 10px;
    }
}
